<header class="sticky-top">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand">
      <img class="d-inline-block align-top" width="100" height="40" src="assets/img/ford.png">
    </a>
    <div *ngIf="user$ | async as user">
      <div *ngIf="user.name; else login">
      <i class="fa fa-user-circle mr-1"> </i>
      <a class="mr-1">{{ user.name }}</a>
      <a (click)="logout()">Logout</a>
      </div>
    </div>
  </nav>

  <ng-template #login>
    <span class="navbar-text">
      <a [routerLink]="['']">Login</a>
    </span>
  </ng-template>

</header>
