<h4 class="text-center">Cadastre-se</h4>

<form class="form mt-4" [formGroup]="novoUsuarioForm" (ngSubmit)="cadastrar()" >

  <div class="form-group">

      <div class="col-auto">
        <input placeholder="e-mail" class="form-control mb-2" id="inlineFormInput" formControlName="email">
        <app-mensagem
        *ngIf="
        novoUsuarioForm.get('email')?.errors?.['required'] &&
        novoUsuarioForm.get('email')?.touched
        "
        mensagem ="Email Obrigatório">
        </app-mensagem>
        <app-mensagem
        *ngIf="
        novoUsuarioForm.get('email')?.errors?.['email'] &&
        novoUsuarioForm.get('email')?.touched
        "
        mensagem ="Email Inválido">
        </app-mensagem>
      </div>

      <div class="col-auto">
        <input placeholder="Nome Completo" class="form-control mb-2" id="inlineFormInput" formControlName="fullName">
        <app-mensagem
        *ngIf="
        novoUsuarioForm.get('fullName')?.errors &&
        novoUsuarioForm.get('fullName')?.touched
        "
        mensagem ="Nome Incorreto">
        </app-mensagem>
      </div>

      <div class="col-auto">
        <input placeholder="Usuário" class="form-control mb-2" id="inlineFormInput" formControlName="userName">
        <app-mensagem
        *ngIf="
        novoUsuarioForm.get('userName')?.errors?.['minusculo'] &&
        novoUsuarioForm.get('userName')?.touched "
        mensagem="Usuário deve ser em letra minúscula"
        >
        </app-mensagem>
        <app-mensagem
        *ngIf="
        novoUsuarioForm.get('userName')?.errors?.['usuarioExistente']"
        mensagem="Usuário já existe"
        >
        </app-mensagem>
      </div>

      <div class="col-auto">
        <input type= "password" placeholder="Senha" class="form-control mb-2" id="inlineFormInput" formControlName="password">
        <app-mensagem
        *ngIf="novoUsuarioForm.errors?.['senhaIgualUsuario']"
        mensagem="Senha deve ser diferente do usuário"
        ></app-mensagem>
      </div>

      <button type="submit" class="btn btn-primary btn-block">Cadastro</button>

  </div>
</form>

<p>Já é um usuário?<a [routerLink] ="['']">Faça o login</a></p>
