<h4 class="text-center">Login</h4>

<form class="form mt-4" (ngSubmit)="login()" #loginForm = "ngForm">
  <div class="form-row align-items-center">
    <div class="col-auto">

      <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Login"
      [(ngModel)]="usuario"
      name="usuario"
      #campoUsuario="ngModel"
      required
      >
      <app-mensagem
        *ngIf="campoUsuario.invalid && campoUsuario.touched"
        mensagem="Usuário Obrigatório"></app-mensagem>
    </div>

    <div class="col-auto">
       <input type="password" class="form-control mb-2" id="inlineFormInput" placeholder="Senha"
       [(ngModel)]="senha"
       name="senha"
       #campoSenha="ngModel"
       required
       >
        <app-mensagem
        *ngIf="campoSenha.invalid && campoSenha.touched"
        mensagem="Senha Obrigatória"></app-mensagem>

    </div>

    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2"
      [disabled]="loginForm.invalid">Login</button>
    </div>
  </div>
</form>

<p>Não é um usuário?<a [routerLink] = "['novousuario']"> Se cadastre</a></p>
