
<div class="row" style="margin: 100px;" *ngIf="(veiculos | async) as veiculos">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Veículo</h5>
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>Selecione o veículo</option>
          <option *ngFor="let veiculo of veiculos" > <a [routerLink]="['/vehicle', veiculo.id]">
            {{veiculo.vehicle}}
            <app-card>
              <app-veiculo [id]="veiculo.vehicle"></app-veiculo>
            </app-card>
          </a>
          </option>
        </select>
      </div>
    </div>
  </div>
